@import url('https://fonts.googleapis.com/css?family=Poppins');



body {
  font-family: 'Poppins';
}

form {
  color: rgba(231, 231, 231);    
}



form button {
  background-color: #fb3e44;
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a{
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.npm {
  width: 50px;
  margin-right: 1rem;
}

.mag {
  width: 50px;
  margin-right: 1rem;
}


.my-form {
  background-color: #e7e7e7;
}

.flex-container {
    display: flex; irection: column; 
    align-items: center; 
    text-align: center; 
    padding: 20px; 
    background-color: rgba(232, 217, 217, 0.3); 
    border-radius: 10px; 
}

.see-plans-button {
    background-color: #FB3B49;
  button-box-color: 8px 8px 0 rgba(251,59,73,.2);
    color: white; 
    padding: 10px 20px; n */
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-right: 10px; 
}

.image-container {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  
 
}

.bring-container {
    display: flex; irection: column; 
    align-items: center; 
    text-align: center; 
    padding: 20px; 
     
    border-radius: 10px;
}

.service-box img {
  width: 25px;
}

.service-box {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: flex-start;
  text-align: center; 
  color: #ED1C24;
}

.service-org {
  color:white;
    background-color: black;
}

.text-container {
  text:align: center;
  color:black;
}